.search-bar-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 16px;
  }
  
  ion-searchbar {
    flex: 1;
    margin-right: 8px; /* Ajusta el espacio entre el searchbar y el botón */
  }