<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Crear Playlist</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="songsForm" (ngSubmit)="onSubmit()">
    <ion-item>
      <ion-label>Nombre *</ion-label>
      <ion-input formControlName="name"></ion-input>
      <div *ngIf="songsForm.get('name')?.errors && songsForm.get('name')?.touched">
        <p *ngIf="songsForm.get('name')?.hasError('required')">El nombre de la playlist es obligatorio</p>
      </div>
    </ion-item>

    <ion-item>
      <ion-label>Descripción *</ion-label>
      <ion-textarea formControlName="description"></ion-textarea>
      <div *ngIf="songsForm.get('description')?.errors && songsForm.get('description')?.touched">
        <p *ngIf="songsForm.get('description')?.hasError('required')">la Descripción de la playlist es obligatorio</p>
      </div>
    </ion-item>

    <ion-button color="secondary" (click)="openSongModal()">Agregar Canciones</ion-button>

    <ion-list *ngFor="let song of songs">
      <ion-item>
        <ion-label>Título</ion-label>
        <ion-input [value]="song.title" disabled></ion-input>
        <ion-label>Artista</ion-label>
        <ion-input [value]="song.artist" readonly></ion-input>

        <ion-label>Álbum</ion-label>
        <ion-input [value]="song.album" readonly></ion-input>

        <ion-label>Año</ion-label>
        <ion-input [value]="song.year" readonly></ion-input>

        <ion-label>Género</ion-label>
        <ion-input [value]="song.genre" readonly></ion-input>
      </ion-item>

    </ion-list>

    <ion-button type="submit" shape="round">Crear Playlist</ion-button>
  </form>
</ion-content>